@charset "utf-8";
/* CSS Document */

.logo {
	text-align: center;
	position: absolute;
	width: 30%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 30% 100%;


}

.logo_header {
	padding-top: 15%;
	font-size: 50px;	
}

.logo_hr {
	width: 30%;

}

.logo_text {
	padding-top: 5%;
	font-size: 20px;
}

.content {
	position: absolute;
	width: 70%;
	height: 100%;
	top: 0;
	right: 0;
	text-align: left;
	background-color: white;





}

.content_header {
	padding: 15% 10% 0;
	font-size: 50px;
	color: #00a6fc;
}

.content_text {
	padding: 0 10%;
	font-size: 20px;
}

.content_connect_buttons {
	padding: 1% 10%;
}

.button_connect, .button_connect_to_data, .button_error {
	padding: 10px 15px;
	text-decoration: none;
	
	margin: 4px 2px;
	cursor: pointer;
	transition: .2s;
	transition-duration: .4s;
}

.button_connect {
    border: solid #00a6fc;
	color: white;
	background-color: #00a6fc;
}


.button_connect:hover {
	color: #00a6fc;
	background-color: rgba(255,255,255,0.00);
}

.button_connect_to_data {
	color: #00a6fc;
	background-color: white;
	border: solid #00a6fc;
}






.button_connect_to_data:hover {
	color: white;
	background-color: #00a6fc;
}

.content_button_error {
	float: right;
	margin: 2% 10%;
	position: relative;
}

.button_error {
	color: white;
	background-color: orangered;
	border: solid orangered;

	box-shadow: 5px 5px 3px rgba(83,83,83,0.4);
}